%li
  %h2= comment.user.handle
  = comment.content
  - if signed_in?
    = link_to "Reply", new_comment_comment_path(comment)
    - if valid_vote?(comment)
      = render :partial => 'shared/vote', :locals => {:votable => comment}
  %ul= render comment.comments
