%ul.unstyled
  - @links.each do |link|
    %li
      = link_to link.title, link.url
      = link_to "Comments", link_path(link)
      - if link.user == current_user && link.valid_edit?
        = link_to "Edit", edit_link_path(link)
      - if signed_in? && valid_vote?(link)
        = render :partial => 'shared/vote', :locals => {:votable => link}
= paginate @links, :theme => 'twitter-bootstrap'
