= link_to "HackerJews", root_path, :class => 'brand'
- if signed_in?
  %ul.nav
    %li.nav= link_to "Submit", new_link_path
  %p.navbar-text.pull-right= "Karma: #{current_user.karma}"
- else
  %ul.nav.pull-right
    %li.nav= link_to "Sign in", new_session_path
    %li.nav= link_to "Sign up", new_user_path
